.u-section-1 .u-sheet-1 {
  min-height: 817px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  margin: 32px 96px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  margin: -27px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 29px auto 0 0;
  padding: 10px 15px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -47px auto 0 228px;
  padding: 10px 15px;
}

.u-section-1 .u-image-1 {
  width: 537px;
  height: 506px;
  object-position: 0% 50%;
  margin: 20px auto 0 0;
}

.u-section-1 .u-list-1 {
  min-height: 563px;
  grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  width: 582px;
  grid-gap: 22px 22px;
  margin: -563px 0 0 auto;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 34px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 2px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-size: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0 34px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 2px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-size: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 0 34px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 2px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-size: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 0 34px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 2px 0 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-size: 0.875rem;
  margin: 39px auto 60px;
  padding: 8px 35px 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 28px;
  }

  .u-section-1 .u-image-1 {
    width: 413px;
    height: 534px;
  }

  .u-section-1 .u-list-1 {
    min-height: 534px;
    grid-template-columns: repeat(2, calc(50% - 11px));
    height: auto;
    width: 505px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-top: 607px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 47px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    height: 690px;
    margin-top: -573px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    min-height: 428px;
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -28px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 386px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 46px;
  }

  .u-section-1 .u-image-1 {
    height: 547px;
    margin-top: 139px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    margin-top: -563px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 32px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 32px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 32px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 32px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -11px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 739px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 47px;
  }

  .u-section-1 .u-image-1 {
    height: 372px;
    margin-top: -705px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: 100%;
    margin-top: 22px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -36px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 72px;
}

.u-section-2 .u-social-icons-1 {
  height: 39px;
  min-height: 16px;
  width: 216px;
  min-width: 124px;
  white-space: nowrap;
  margin: 23px auto 10px;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}